@charset "utf-8";
/* CSS Document */

html,
body {
	margin:0;
   	padding:0;
	height:100%;
  	background-color:#fbfaf7;
	font-family:georgia,garamond,serif;
}

a {
	text-decoration:none;
	color:#1c72ad;
}

hr {
	height:1px;
	width:686px;
	border-width:0;
	color:#dddddd;
	background-color:#dddddd;
}

span.formlabel {
	font-size:14px;
	font-style:italic;
	color:#707070;
	margin-left:4px;
}

span.orange {
	color:#dc7d0e;
}

span.purple {
	color:#7f1ea7;
}

span.red {
	color:#de4232;
}

textarea {
	resize: none;
	width:557px;
	height:130px;
  	border: 4px solid #ebebeb;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	font-family:georgia,garamond,serif;
}

textarea:focus {
	outline: none;
}

/* Clickable
textarea:focus {
	outline: none;
	-moz-box-shadow: 0px 0px 15px rgba(220, 125, 14,.5);
	-webkit-box-shadow: 0px 0px 15px rgba(220, 125, 14,.5);
	box-shadow: 0px 0px 15px rgba(220, 125,14,.5);	
}*/

#fillerspace {
	height:300px;
}

#encodedlink {
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	font-size:23px;
	text-align:center;
}

#linksub {
	font-size:12px;
}

#button {
	width: 100px;
	height: 40px;
	font-family:georgia,garamond,serif;
}

#messagediv {
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	width:565px;
	margin-bottom:15px;
}

#passworddiv {
	text-align:left;
	margin-left: auto;
	margin-right: auto;
	width: 210px;
	margin-bottom:15px;
}

#password {
	width: 200;
	border: 5px solid;
	border-color:#ebebeb;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}

#password:focus {
	outline: none;
}

#introtext {
	padding:0;
	text-align:center;
	margin-top:54px;
	font-size:26px;
	line-height:18px;
}

#explination {
	width: 686px; 
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	display:none;
	font-size:18px;
	line-height:24px;
	color:#5c5c5c;
}

#intro {
	color:#5c5c5c;
}

#whatis {
	color:#1c72ad;
}

#form {
	width:800px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

/*98 padding*/
#logo {
	width: 453px;
	padding-top:98px;
	margin-left: auto;
	margin-right: auto;
}

#container {
	min-height:100%;
   	position:relative;
	width:960px;
	margin-left: auto;
	margin-right: auto;
   	background-image: url('../images/containerbg.jpg');
   	background-repeat: repeat-y;
}

#body {
	padding:0;
   	height:100%;
   	padding-bottom:60px;   /* Height of the footer */
}

#footer {
	padding-top:5px;
	font-size:12px;
	text-align:center;
	color:#FFF;
	margin-left:5px;
	border-top:2px solid #777777;
   	background-color:#2f3134;
   	width:947px;
   	height:115px;   /* Height of the footer */
}

/* Lights out popup */
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .75;
	z-index: 9999;
}
.popup_block{
	display: none; /*--hidden by default--*/
	background: #fff;
	padding: 10px;
	border: 3px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
img.btn_close {
	float: right;
	margin: -20px -20px 0 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}

#popup_name {
	text-align:center;
	font-size:18px;
	line-height:29px;
	color:#5c5c5c;
}